@media (max-width: 1200px)
   .menu
      &_item
         padding-right: 20px
      &_link
         font-size: 13px
   .promo
      &_header
         font-size: 50px
   .reason
      &_block
         padding-left: 10px
         align-items: flex-start
         &_right
            padding-left: 12px
      &_desc
         padding: 4px
         width: 250px 
         font-size: 14px
   nav
      width: 100%